@use "../abstract/variables" as *;

.btn {
    &:link, &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: .9375rem 2.5rem;
        display: inline-block;
        border-radius: 6.25rem;
        transition: all 0.2s;
        position: relative;
    }
    &:hover {
        transform: translateY(-0.1875rem);
        box-shadow: 0 .625rem 1.25rem rgba($color-black, 0.2);
        
        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }
    &:active {
        transform: translateY(-0.0625rem);
        box-shadow: 0 .3125rem .625rem rgba($color-black, 0.2);
    }
    &--white {
        background-color: $color-white;
        color: $color-grey-dark;
        font-size: 1.3rem;

        &::after {
            background-color: $color-white;
        }
    }
    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 6.25rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all 0.4s;
    }
    &--animated {
        animation: moveInBottom .5s ease-out 0.75s backwards;
    }
}
