@use "../abstract/variables" as *;

.col-1-of-3:not(:last-child) {
    margin-right: 6rem;
}

.card {
    perspective: 93.75rem;
    position: relative;
    height: 55rem;
    width: 35rem;
    text-align: center;
    
    &__side {
        color: #fff;
        font-size: 2rem;
        height: 55rem;
        transition: all 0.8s ease;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        backface-visibility: hidden;
        border-radius: 2px;
        box-shadow: 0 1.5rem 2.5rem rgba(black, 0.15);
        overflow: hidden;

        &--front {
            background-color: #fff;
            color: black;
        }

        &--back {
            transform: rotateY(180deg);

            &-1 {
                background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary);
            }

            &-2 {
                background-image: linear-gradient(to right bottom, $primary-color, $primary-color-dark);
            }

            &-3 {
                background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary);
            }
        }
    }

    &:hover &__side--front {
        transform: rotateY(-180deg);
    }

    &:hover &__side--back {
        transform: rotateY(0);
    }

    &__image {
        background-size: cover;
        height: 23rem;
        background-blend-mode: screen;
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);

        &-1 {
            background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary), url(../../img/nat-5.jpg);
        }

        &-2 {
            background-image: linear-gradient(to right bottom, $primary-color, $primary-color-dark), url(../../img/nat-6.jpg);
        }

        &-3 {
            background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary), url(../../img/nat-7.jpg);
        }
    }

    &__heading {
        font-size: 2.8rem;
        font-weight: 300;
        text-transform: uppercase;
        color: #fff;
        position: absolute;
        top: 12rem;
        right: 2rem;
        text-align: right;
        width: 70%;
    }

    &__heading-span {
        padding: 1rem 1.5rem;
        box-decoration-break: clone;

        &--1 {
            background-image: linear-gradient(to right bottom, rgba($color-secondary-light, .85), rgba($color-secondary, .85));
        }   
        
        &--2 {
            background-image: linear-gradient(to right bottom, rgba($primary-color, .85), rgba($primary-color-dark, .85));
        }   

        &--3 {
            background-image: linear-gradient(to right bottom, rgba($color-tertiary-light, .85), rgba($color-tertiary, .85));
        }   
    }

    &__details-list {
        list-style: none;
        width: 80%;
        margin: 0 auto;
        padding: 3rem;
    }

    &__details-item {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem;
        color: $color-grey-dark;
    }

    &__details-item:not(:last-child) {
        border-bottom: 1.5px solid $color-grey-light-1;
    }

    //BACK SIDE OF CARD

    &__side--back {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__paragraph {
        font-size: 1.5rem;
    }

    &__heading-back {
        font-size: 6rem;
        font-weight: lighter;
        padding-bottom: 8rem;
    }

    &__btn:link, &__btn:visited {
        padding: 1.7rem 5rem;
    }
}

.tours-btn-container {
    display: flex;
    justify-content: center;
    padding-top: 12rem;
}

.tours__btn:link, .tours__btn:visited {
    background-color: $primary-color-light;
    color: #fff;
    padding: 1.5rem 4rem;
    font-size: 1.6rem;
}

.tours__btn::after {
    background-color: $primary-color-light;
}